<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Years" value="15" />
    <add key="UnscheduledRepaymentPercentage" value="5" />
    <add key="BorrowingPercentagePerYear" value="0.99" />
    <add key="RedemptionPercentage" value="2.5" />
    <add key="LoanAmount" value="250000" />
    <add key="RedemptionFreeMonths" value="12" />
  </appSettings>
</configuration>
