<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="StartMonth" value="03/01/2021 00:00:00" />
        <add key="Years" value="15" />
        <add key="UnscheduledRepaymentPercentage" value="5" />
        <add key="BorrowingPercentage" value="0.99" />
        <add key="RedemptionPercentage" value="2.5" />
        <add key="LoanAmount" value="250000" />
    </appSettings>
</configuration>
